*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #472a12ea;
  line-height: 1.6; 
}

#showcase{
  background-image: url('./pexels-photo-285283.jpeg');
  background-size: cover;
  background-position: center; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#showcase h1{
  font-size: 50px;
}

#showcase p{
  font-size: 20px;
}

#showcase .button{
  font-size: 18px;
  text-decoration: none;
  color: #472a12ea;
  border: #472a12ea 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover{
  background-color: bisque;
  color: white;
  border: none;
  font-weight: 600;
  transition: ease-in .3s;
}

#section-a{
  padding: 20px;
  background: #472a12ea;
  color: white;
  text-align: center;
}